:root {
  /* Colors */
  --primary-color: #24265b;
  --secondary-color: #247c4c;
  --tertiary-color: #2ab33f;
  --primary-hover: #535bf2;
  --bg-dark: #242424;
  --bg-light: #ffffff;
  --text-dark: #213547;
  --text-light: rgba(255, 255, 255, 0.87);
  --border-light: #2c64e6;
  --border-dark: #17359f;

  /* Sketch Feature */
  --sketch-bg-color: #5c5c5c;
  --sketch-board-color: #2d2d2d;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  /* Border radius */
  --border-radius: 8px;
}
